[2020-03-27 19:49] kelvinlockwood opened #26 "Subdomains"
We want to have subdomains that have a relationship with the Combo Box's "Select your region".

This means that when someone comes to the website via the subdomain the Combo Box will be pre-populated.

This might explain how we set up the subdomains > https://community.netlify.com/t/how-to-dynamically-create-a-subdomain/907/2

[2020-03-27 20:05] kelvinlockwood opened #27 "Web Share API"
The goal here is to encourage people to share the regional version of the site on Facebook.

https://web.dev/web-share/

The button here is a nice design and might work at the top of the page > https://css-tricks.com/how-to-use-the-web-share-api/

Some discussion on fallbacks in this repo but to be honest we can start with no fallbacks and add them another day > https://github.com/peterpeterparker

[2020-03-27 20:32] kelvinlockwood opened #28 "Dynamic Open Graph images"
This closes the loop with sharing and regional subdomains...

When the subdomain url is shared it will display its custom Open Graph image, the image can include the names of the charities that are associated with that county.

https://zeit.co/blog/social-og-image-cards-as-a-service

[2020-03-29 01:19] globalmatt opened #35 "Style FAQ, privacy, terms pages"
These pages need styling with Tailwind:

- https://charityshopexchange.com/faq
- https://charityshopexchange.com/privacy
- https://charityshopexchange.com/terms

[2020-03-29 01:20] globalmatt opened #36 "Implement new homepage hero design"
<img width="1081" alt="Screenshot 2020-03-26 at 18 58 02" src="https://user-images.githubusercontent.com/885411/77837674-9f130880-71b7-11ea-9656-225f3c7d8c9e.png">

[2020-03-29 01:21] globalmatt opened #37 "Create charity registration page/form"
https://charityshopexchange.com/register

[2020-03-29 01:22] globalmatt opened #38 "Supply text for FAQ, Privacy & Terms pages"
- https://charityshopexchange.com/faq
- https://charityshopexchange.com/privacy
- https://charityshopexchange.com/terms

[2020-03-29 01:23] globalmatt opened #39 "Set up Subbly product and survey"
Currently there's a bare-bones site and a product with a linked survey, but it doesn't seem to function properly:

https://charity-shop-exchange.subbly.me

[2020-03-29 07:53] kelvinlockwood commented on #36
This design isn't ready for production just yet, waiting on Greta at Drew for an updated version @dickyjiang

[2020-03-29 22:24] globalmatt opened #42 "Add text to Privacy/Terms pages and style it"
- https://charityshopexchange.com/privacy
- https://charityshopexchange.com/terms

[2020-03-29 22:31] globalmatt opened #43 "Pages sometimes don't scroll to the top when viewed"
e.g. visit https://charityshopexchange.com/ and click some of the footer links a few times. Eventually when a new page is displayed, it's already scrolled down to the bottom, rather than moving to the top of the page.

React Router setting perhaps?

[2020-03-30 01:15] #42 closed

[2020-03-30 01:30] #43 closed

[2020-03-30 04:00] globalmatt opened #46 "Metropolis font is not displaying"
It's just using the default browser font for headings.

<img width="843" alt="Screen Shot 2020-03-30 at 2 59 58 pm" src="https://user-images.githubusercontent.com/885411/77873964-2daa8700-7297-11ea-8a43-a7a23e50a35e.png">

[2020-03-30 04:22] globalmatt opened #48 "Netlify doesn't rewrite all URLs to /index.html"
e.g. https://charityshopexchange.com/about produces a 404 page.

[2020-03-30 04:24] globalmatt commented on #48
I don't think I can do anything about this because I don't have access to the site on Netlify. Unless @kelvinlockwood you can add me?

[2020-03-30 05:23] globalmatt commented on #26
@kelvinlockwood So you want 1 subdomain per county, with all subdomains pointing to the same site (code)?

Might be something @Prouty89 can look at (I don't have Netlify access currently).

[2020-03-30 05:31] globalmatt commented on #27
Sounds fun! I'll give it a go.

[2020-03-30 16:28] kelvinlockwood opened #51 "Box on doorstep illustration"
The Drew London design is a step in the right direction. They don't have time to continue with that work so we'll have to use it as the foundation for our own design.

[2020-03-30 16:40] kelvinlockwood opened #52 "1-2-3 section"
I think this 1 - 2 - 3 layout could work nicely for us > https://try.typeform.com/conversations/

I don't think we need to have illustrations at this stage.

They could have subtle rollover effects as per the “Tiny minimums…” section of the Packlane website > https://packlane.com/ (only if its CSS and easy to do)

[2020-03-30 17:38] kelvinlockwood opened #53 "Applying colour scheme"
We could alternate two (or all three?) of our "background" colours, to break up sections of the homepage, much like here...

https://6nomads.com/
https://try.typeform.com/conversations/

I'd also like to use our colour scheme to emphasis the clickable links. The current italics don't work very well.
- Subscribe here
- Learn more about our approach
- Enlist now

[2020-03-30 17:45] kelvinlockwood opened #54 "Responding to the Coronavirus Crisis section"
This section was previously titled We're in this together.

Apply updated copy in the google doc.

Layout could be more central to the page.

[2020-03-30 18:18] kelvinlockwood commented on #46
when the page loads the font that was causing us an issue loads first, and then Metropolis replaces it

[2020-03-30 19:57] kelvinlockwood commented on #36
This is now a duplicate of #51

[2020-03-30 20:58] kelvinlockwood commented on #54
Need to copy and paste the text in the google doc as edits have been missed.

[2020-03-30 21:00] kelvinlockwood commented on #54
Probably better to depend on system fonts for the body text and use Metropolis for headlines only.

[2020-03-30 21:10] kelvinlockwood commented on #53
Currently the wrong dark blue is in place. It needs to be changed to #111E36

[2020-03-30 21:10] kelvinlockwood commented on #53
<img width="575" alt="CharityShopExchange_colours" src="https://user-images.githubusercontent.com/11790973/77962283-446ecf00-72d3-11ea-9061-56771a2cb2fd.png">

[2020-03-30 22:07] kelvinlockwood commented on #27
This is a screenshot of the Share button that is currently used on Facebook. It makes sense to follow this design because its agnostic - just like the Web Share API functionality.

<img width="100" alt="Screen Shot 2020-03-30 at 23 06 10" src="https://user-images.githubusercontent.com/11790973/77966513-1b523c80-72db-11ea-872a-60a5b4f28760.png">

This is the nearest icon I could find > https://www.

[2020-03-30 22:52] globalmatt commented on #46
That's called FOUT (or [FOUC](https://en.wikipedia.org/wiki/Flash_of_unstyled_content)). Unfortunately it happens a lot with newer versions of Chrome and Safari.

I might see if I can work around it using [this](https://www.npmjs.com/package/webfontloader).

[2020-03-30 23:04] globalmatt opened #56 "Slow down box animation?"
@dickyjiang I love the new animated box GIF on the homepage! :)

<img width="226" alt="image" src="https://user-images.githubusercontent.com/885411/77969706-12db1f80-7336-11ea-832f-9d4a7e9337dd.png">

I'm thinking it might be good to put, say, a 2-3 second delay between each "bounce" of the box to make the animation more subtle? Currently the delay is under 1 second and personally I find it a bit

[2020-03-30 23:06] kelvinlockwood commented on #27
The Share button will be situated in the top right hand corner (where Log in is currently positioned)

So the top nav will look something like this...

#### Subscribe   Log in   <img width="100" alt="Screen Shot 2020-03-30 at 23 06 10" src="https://user-images.githubusercontent.com/11790973/77967305-c31c3a00-72dc-11ea-98b9-280458380551.png">

To keep the Share button on display as the user scrolls

[2020-03-30 23:09] kelvinlockwood commented on #56
Yeah it doesn't work in its current state. I need to discuss with Dicky if and how he wants to iterate on the doorstep design that Drew kicked off - obviously this would be part of that.

[2020-03-31 02:16] globalmatt commented on #46
I've made a couple of changes which should mitigate this issue.

@kelvinlockwood @dickyjiang @Prouty89 - can you please confirm that there is no longer any "flash of unstyled text" for you when the page loads? (The Metropolis font in the red headings should appear pretty much straight away, without the system font appearing first.)

[2020-03-31 02:17] globalmatt commented on #46
@dickyjiang Also note that part of the fix was to strip back the Metropolis font to just the 700 weight so it loads much more quickly. If you need to use any other weights, please let me know and I'll add them back in.

[2020-03-31 06:38] dickyjiang commented on #56
Yes @matt I just showing possibilty to @kelvin, that we can add in simple animated gif for the home.

[2020-03-31 06:39] dickyjiang commented on #27
How do you want it styled ? Just like the current login button?

[2020-03-31 06:41] dickyjiang commented on #54
Well it is right now .. @kelvin

[2020-03-31 06:53] globalmatt commented on #56
@dickyjiang cool :)

[2020-03-31 07:17] #35 closed

[2020-03-31 08:22] dickyjiang commented on #46
Ok with me this morning @matt

[2020-03-31 08:34] kelvinlockwood commented on #27
No, remove the red button

[2020-03-31 08:51] kelvinlockwood commented on #37
This page is too narrow and long at the moment... we should limit the amount a user has to scroll on a desktop browser.

[2020-03-31 09:14] kelvinlockwood commented on #26
@globalmatt yes thats right, the site would be the same, we'll just use the subdomain to do the pre-population of the Select your region box.

This issue also has a relationship with #27 and #28 - creating a _viral loop!_

I haven't added this to our Launch milestone, it can be part of the following milestone.

[2020-03-31 09:26] kelvinlockwood opened #58 "Start a subscription by picking your favourite charity"
Use of a freehand style to direct the user to the Combo Box.

Inspired by embacy > https://embacy.io/

[2020-03-31 15:13] #48 closed

[2020-03-31 15:42] kelvinlockwood commented on #27
Lets remove the edge / outline of the button...

<img width="136" alt="Screen Shot 2020-03-31 at 16 39 35" src="https://user-images.githubusercontent.com/11790973/78045813-4a65be00-736e-11ea-8be9-f8b4f6bd296a.png">

The button should be white, that way it will gently stand out from the background as the user scrolls.

[2020-03-31 16:05] kelvinlockwood opened #62 "Do you still have questions?"
Add this call to action to the bottom of our FAQs page...

<img width="478" alt="Screen Shot 2020-03-30 at 12 01 36" src="https://user-images.githubusercontent.com/11790973/78048350-80f10800-7371-11ea-8274-a2baca66e159.png">

Inspiration from Fiverr > https://sellers.fiverr.com/en/article/seller-faqs

Note: no need for the "Our support agents..." sentence

[2020-03-31 16:26] kelvinlockwood opened #63 "Remove the "coming soon" regions for now"
It will be easier for people to digest our initial launch if we just have the 3 example charities and their associated counties.

[2020-04-01 01:49] globalmatt commented on #27
Share button now implemented.

[2020-04-01 01:49] #27 closed

[2020-04-01 02:16] #63 closed

[2020-04-01 02:21] globalmatt commented on #46
Thanks @dickyjiang. 😃 Closing.

[2020-04-01 02:21] #46 closed

[2020-04-01 09:57] globalmatt opened #67 "Homepage text issues"
- Increase font size of the subhead at the top of the page
- Prevent subhead text being cut off
- Fix heading capitalisation (sentence case)
- Fix typos and broken links

[2020-04-01 13:21] #56 closed

[2020-04-01 13:23] #53 closed

[2020-04-01 16:41] kelvinlockwood opened #69 "About page update"
Compound the two sections into one...

<img width="1089" alt="Screen Shot 2020-04-01 at 17 32 28" src="https://user-images.githubusercontent.com/11790973/78163317-2672ad00-7440-11ea-8fc1-b2e0b6ceefdb.png">

**Join our fight against isolation**

Do you have an idea you'd like to contribute?
Is there a new delivery service you'd like to see?
Want to volunteer?

Contact Us

[2020-04-02 00:14] globalmatt opened #71 "Add share button fallback"
Currently the share button uses the Web Share API which means it only works on Safari and Android browsers. Provide a fallback that will allow sharing to Facebook for other browsers (using the same arrow icon).

[2020-04-02 03:42] globalmatt commented on #71
Now the button falls back to opening the Facebook sharer in a popup if the Web Share API isn't available:

<img width="712" alt="Screen Shot 2020-04-02 at 2 35 15 pm" src="https://user-images.githubusercontent.com/885411/78208077-339aa500-74ef-11ea-8d7a-38e431bd5683.png">

[2020-04-02 04:09] globalmatt commented on #37
@kelvinlockwood @dickyjiang Taking a look at this now

[2020-04-02 04:17] globalmatt commented on #37
@kelvinlockwood @dickyjiang Form is now wider, especially on narrower desktop browsers. Better now do you think?

[2020-04-02 07:20] #62 closed

[2020-04-02 07:23] dickyjiang commented on #58
add static version for now

[2020-04-02 07:23] #58 closed

[2020-04-02 07:24] #54 closed

[2020-04-02 14:45] kelvinlockwood commented on #67
@globalmatt @dickyjiang could you update the text so that **We** always begins on the second line in the desktop view...

<img width="516" alt="Screen Shot 2020-04-02 at 15 38 40" src="https://user-images.githubusercontent.com/11790973/78262650-cc81ee00-74f8-11ea-8299-4f292fd8aaa6.png">

[2020-04-02 15:00] kelvinlockwood commented on #37
Yeah looks good to me!

[2020-04-02 15:00] #37 closed

[2020-04-03 03:48] globalmatt opened #75 "Create Launching Soon modal"
When a visitor clicks Continue, pop up a modal for now saying: "We’re launching in a few days, follow us on Twitter for announcements".

[2020-04-03 03:50] #71 closed

[2020-04-03 04:52] globalmatt commented on #75
@kelvinlockwood @dickyjiang Please let me know if you want me to change anything with the dialog.

<img width="1042" alt="image" src="https://user-images.githubusercontent.com/885411/78325314-00c1e100-75c3-11ea-8c3f-fd57bb7e0931.png">

[2020-04-03 05:08] #69 closed

[2020-04-03 05:09] #51 closed

[2020-04-03 05:34] dickyjiang commented on #75
Make the popup smaller, max 40% of the viewport width (w-2/5 in tailwind)

Make all text smaller heading, body, and especially the twitter link (dont make it bold)
Center aligned

That's my opinion @matt

[2020-04-03 07:22] globalmatt commented on #75
@dickyjiang How's this looking now?

<img width="975" alt="image" src="https://user-images.githubusercontent.com/885411/78334470-91a2b780-75d7-11ea-9b46-57cd2c1fce8b.png">

[2020-04-03 07:33] globalmatt commented on #67
@kelvinlockwood Did you _literally_ mean: "always start a new line on **We**", or did you simply want to have a non-breaking space between "We" and "collect" so that "We" isn't orphaned on the end of the line?

@dickyjiang has implemented the former:

<img width="341" alt="image" src="https://user-images.githubusercontent.com/885411/78335338-2a860280-75d9-11ea-8abb-28bf2235d0b2.png">

... but I wa

[2020-04-03 07:35] globalmatt opened #83 "Update FAQ with latest text"
Update the FAQ page to the text on page 3 and 4 of this google doc > https://docs.google.com/document/d/1Wh0-Cq36VsvgKFezrfdcMSHbOOQHu-DivkfZ7SI2E8k/edit

[2020-04-03 07:49] dickyjiang commented on #75
👍👍

[2020-04-03 07:54] dickyjiang commented on #67
I think I already fix this one @matt. Put span from we ... on ward

[2020-04-03 10:37] kelvinlockwood opened #85 "Analytics"
Thoughts on using Fathom rather than Google...

https://usefathom.com/

[2020-04-03 10:43] globalmatt commented on #67
Yeah I know, I just think it would be better if it was a simple non-breaking space. But I'm not clear on what Kelvin wanted exactly, hence my question.

[2020-04-04 01:23] globalmatt commented on #75
Great, thanks! Closing this then 😀

[2020-04-04 01:24] globalmatt commented on #67
Looks great now @dickyjiang - thanks 😀

[2020-04-04 01:24] #67 closed

[2020-04-04 01:28] #36 closed

[2020-04-04 01:42] globalmatt opened #87 "Homepage font sizes too small/inconsistent on mobile"
The subhead text and "Responding to..." paragraph text is tiny on my device at least (iPhone 11), while the grey "Our charities send boxes..." text is bigger. I suggest making all the paragraph text the same size as the "Our charities send boxes..." text.

![IMG_7CBEE0F7E972-1](https://user-images.githubusercontent.com/885411/78415921-b7c86600-7670-11ea-8150-8f5296a8db8e.jpeg)
![IMG_B4FB46ADA1B4-1

[2020-04-04 01:44] globalmatt opened #88 "Buttons for CTAs on homepage"
I think buttons instead of plain text for "Subscribe here"/"Learn more about our approach"/"Enlist now" would be clearer, as well as being easier to tap on mobile.

<img width="204" alt="image" src="https://user-images.githubusercontent.com/885411/78416077-ed218380-7671-11ea-8774-6f831e70249f.png">
<img width="240" alt="image" src="https://user-images.githubusercontent.com/885411/78416079-f0b50a80

[2020-04-04 01:48] globalmatt opened #89 "Reword homepage text to emphasise "UK-wide""
Since the service is now available UK-wide, the homepage text should be rewritten to make this clearer, eg:

- “select a region” instead of “select your region” and

- “We collect a selection of books and DVDs from charity shops and deliver them to anywhere in the UK. Weekly, bi-weekly or monthly deliveries — it’s up to you.”

[2020-04-04 03:49] #89 closed

[2020-04-04 09:02] kelvinlockwood commented on #88
@globalmatt I agree we've gone a bit off track with these. In my opinion the links should come with arrows rather than big buttons... being confronted with lots of big "click me" buttons can be off-putting...

Stripe is a good example > https://stripe.com/

[2020-04-04 09:03] #38 closed

[2020-04-04 09:49] kelvinlockwood commented on #88
Another pattern to consider is "becoming buttons on rollover"

Here's an example I've just seen on Buy Me A Coffee...

<img width="329" alt="Screen Shot 2020-04-04 at 10 47 22" src="https://user-images.githubusercontent.com/11790973/78423942-ed198780-7661-11ea-8cd1-628bcb554433.png">

[2020-04-05 02:06] globalmatt commented on #87
Fixed in #91

[2020-04-05 02:06] #87 closed

[2020-04-05 02:10] globalmatt commented on #88
They look nice, but they don't work on mobile of course.

I like the arrow idea - I'll give that a shot 👍

[2020-04-05 10:10] globalmatt commented on #88
@kelvinlockwood Added arrows: https://charityshopexchange.com

<img width="1098" alt="image" src="https://user-images.githubusercontent.com/885411/78472074-7bccf800-7779-11ea-8112-42564496813b.png">

[2020-04-05 22:02] kelvinlockwood opened #94 "Charity Shop Exchange website preview image"
<img width="1021" alt="CharityShopExchange_website" src="https://user-images.githubusercontent.com/11790973/78511026-56e47f00-7791-11ea-9931-62821c0bbb5f.png">

[2020-04-06 01:40] globalmatt commented on #94
@kelvinlockwood Is this for Facebook newsfeeds (the `og:image`)?

[2020-04-06 01:49] globalmatt opened #95 "Add new logo to site footer"
<img width="166" alt="image" src="https://user-images.githubusercontent.com/885411/78516392-b9269980-77fc-11ea-83e8-39c36283f050.png">

[2020-04-06 02:20] #95 closed

[2020-04-06 02:20] globalmatt opened #97 "Redo favicon with new logo"

[2020-04-06 02:40] #97 closed

[2020-04-06 17:52] Prouty89 opened #100 "Success message for charity form & redirect"

[2020-04-08 08:35] #52 closed

[2020-04-09 06:29] globalmatt commented on #28
@kelvinlockwood Had a bit of a look at this. It seems that it's designed to deploy on ZEIT Now. Not sure how easy it would be to build and deploy it on Netlify. I think Netlify only supports [AWS Lambda functions](https://docs.netlify.com/functions/overview/) whereas Now has [its own APIs for serverless functions](https://zeit.co/docs/v2/serverless-functions/introduction). But this is is all new t

[2020-04-10 00:20] globalmatt commented on #28
OK, I'm going to have a play with the ZEIT thing in a separate repo and see if I can get the dynamic `og:image` stuff working. Then we can decide if we want to use it :)

[2020-04-10 00:21] globalmatt commented on #39
@kelvinlockwood I'm going to take a look at this Subbly issue and see if I can get the survey/subscription flow working in time for the demo next Thursday.

[2020-04-10 00:22] globalmatt commented on #39
If the Stripe thing is a sticking point then I will connect my own Stripe account for now.

[2020-04-14 23:46] globalmatt opened #103 "Open Graph image broken"
Image is currently broken due to the Netlify `index.html` rewrite rule:

https://charityshopexchange.com/static/media/enjoy@2x.64d76bba.png

[2020-04-15 02:30] globalmatt commented on #103
Turns out it wasn't due to the rewrite rule - it was because the image was no longer there. New image uploaded - should be fixed now:

https://developers.facebook.com/tools/debug/?q=https%3A%2F%2Fcharityshopexchange.com

[2020-04-15 02:30] #103 closed

[2020-04-18 10:27] #88 closed

[2020-04-18 10:30] #94 closed

[2020-04-18 10:35] kelvinlockwood opened #106 "Together page"
Add a /together landing page which explains how other businesses and organisations can help support the cause...

Styling can follow the styles we've developed for our other internal pages.

Website copy is here > https://docs.google.com/document/d/1qPjhU3gDibR6v2VpRwOFxp2k0As6eayjq_VDpSfv0QE/edit?usp=sharing

[2020-04-18 11:31] globalmatt commented on #106
@kelvinlockwood Is this just the black text on page 2 (LANDING PAGE) or also the blue text on page 3?

[2020-04-18 12:32] kelvinlockwood commented on #106
@globalmatt ignore the blue text

[2020-04-19 10:18] kelvinlockwood commented on #100
Just tested the form and it works but without the success message its being submitted several times, we need it in place by the end of today because tomorrow we will be listed on the _Charity Excellence COVID19 funder database_
@Prouty89

[2020-04-19 14:56] kelvinlockwood opened #107 "Charity Excellence Framework inclusion"
We need to add the Charity Excellence Framework logo to our About page > https://www.charityexcellence.co.uk/

I suggest we use the following sentence...

Proudly listed on the Charity Excellence COVID19 funder database  [logo]

[2020-04-19 14:58] kelvinlockwood commented on #107
It can be positioned a line below this paragraph... <img width="660" alt="Screen Shot 2020-04-19 at 15 57 22" src="https://user-images.githubusercontent.com/11790973/79691289-8ba70a80-8256-11ea-8018-fa5e95855af0.png">

[2020-04-20 06:47] dickyjiang commented on #107
Done added logo

[2020-04-20 06:47] #107 closed

[2020-04-21 11:33] kelvinlockwood opened #109 "Book genres"
Arts & Photography
Biographies & Memoirs
Business & Money
Children's
Cookbooks, Food & Drink
Crafts, Hobbies & Home
Health, Fitness & Diet
History
Humour & Entertainment
Mystery, Thriller & Suspense
Poetry & Short Stories
Politics & Social Sciences
Romance
Science & Math
Science Fiction & Fantasy
Self-Help & Spirituality
Sports
Technology
Travel

[2020-04-21 12:01] kelvinlockwood opened #110 "DVD genres"
Action
Adventure
Animation
Comedy
Crime
Documentary
Drama
Family
Fantasy
History
Horror
Music
Mystery
Romance
Science Fiction
Thriller
War
Western

[2020-04-22 15:13] kelvinlockwood opened #111 "Customer order record"
How do we ensure that a subscriber never receives a second copy of the same item?

[2020-04-23 11:58] kelvinlockwood opened #112 "Google Sheets MVP"
Enable a dedicated sheet for each charity... so that each charity has their own view of orders.

Goal: The right orders being exposed to the right charities!

Google Sheets API > https://developers.google.com/sheets/api/quickstart/go

Zapier might also help us hook things up.

[2020-04-23 12:22] kelvinlockwood commented on #85
Another alternative is Plausible > https://plausible.io/blog/remove-google-analytics

[2020-04-23 12:28] kelvinlockwood opened #113 "Custom Subscription Interface"
We'll need to build on Stripe Connect to handle things like "Payout Management", to pass along the money we take for the orders that each charity fulfils.

At that stage we might find it makes sense to go all in on Stripe, and forgoing the need for Subbly.

Here's some ideas if we need to cross that bridge...

Open Source Ecommerce Store Page
https://github.com/moltin/shopkit
https://github.com/mo

[2020-04-23 12:32] kelvinlockwood opened #114 "Order Management Ideas"
Some things we've seen elsewhere...

https://hydra-oms.com/
https://pizzaql.tech/
https://tastyigniter.com/

[2020-04-23 22:55] kelvinlockwood commented on #112
@globalmatt definitely worth checking out Airtable > https://airtable.com/

[2020-04-25 12:10] kelvinlockwood commented on #75
@globalmatt I just noticed the Subscribe now link further down the homepage doesn't link to anything...

[2020-04-26 04:08] dickyjiang commented on #106
@globalmatt what's the status on this?
also where's this page accessed from @kelvinlockwood

[2020-04-26 07:20] dickyjiang commented on #106
Done

[2020-04-26 07:20] #106 closed

[2020-04-27 08:00] globalmatt commented on #111
As discussed, options might be:

1. Email the customer with the picked items a couple of days prior to sending, giving the customer the option to change their order before it's sent

2. Have a central place (Google Sheets, Airtable) where charity shops can login to see all the items that the customer has already been sent (from all charity shops)

[2020-04-29 17:34] kelvinlockwood commented on #112
We have credits courtesy of Airtable's support of EUvVirus hackathon

[2020-05-02 04:29] globalmatt opened #118 "Billsby integration"
Integrate the homepage with [Billsby](https://www.billsby.com) so that customers can select their region and charity, enter their personal details, select their genre preferences for books and DVDs, and then proceed to Billsby to create their subscription.

See attached integration guide for more details.

[Integration Guide - Billsby and Charity Shop Exchange v1.1.pdf](https://github.com/Charity-

[2020-05-02 05:09] globalmatt commented on #39
We're no longer using Subbly. See #118.

[2020-05-02 05:09] #39 closed

[2020-05-02 05:10] globalmatt commented on #100
@kelvinlockwood @Prouty89 Is this completed now? Can we close this issue?

[2020-05-02 05:11] globalmatt commented on #75
@kelvinlockwood You mean "Subscribe here"? It opens the modal because we haven't implemented the integration with Subbly (now Billsby).

[2020-05-02 06:07] globalmatt commented on #26
@kelvinlockwood As we discussed last month, adding region-specific subdomains raises a few more issues:

1. What should happen if the user picks a different region in the combo box? Presumably they should be redirected to the appropriate subdomain?

2. How to do the redirection? A simple 301 redirect or [modify window.location](https://stackoverflow.com/questions/35658252/subdomain-in-react-router

[2020-05-02 08:33] kelvinlockwood commented on #26
Good questions @globalmatt, we want to avoid unnecessarily harming the UX, what do you think @hmajid2301 , are there some workarounds?

[2020-05-03 12:30] kelvinlockwood commented on #100
@globalmatt no this hasn't been completed

[2020-05-03 14:13] kelvinlockwood commented on #111
Mark mentioned that we can pass on the invoices that Billsby generates. Airtable should give us lots of flexibility to create an interface for each charity to use.

[2020-05-03 14:18] #85 closed

[2020-05-07 09:07] #75 closed

[2020-05-07 09:09] kelvinlockwood opened #122 "Accordion-checkout modal"

[2020-05-07 09:27] globalmatt commented on #122
[Accordion-checkout_plus_notes.pdf](https://github.com/Charity-Shop-Exchange/Charity-Shop-Exchange/files/4592040/Accordion-checkout_plus_notes.pdf)

[2020-05-11 12:49] kelvinlockwood commented on #122
This design takes the UI / UX another step in the right direction...

![plus-minus](https://user-images.githubusercontent.com/11790973/81563411-209caf80-938e-11ea-9e0a-4f6212d95225.png)

[2020-05-11 21:14] hmajid2301 commented on #28
So quick update on this issue. Even assuming we had a design we could dynamically generate using the `zeit og-image tool`. There is one other issue we would need to resolve;

How can we change the `og:image` meta tag dynamically. It seems this cannot be done using JS. If you use http://www.opengraphtester.com/test/ on the https://charityshopexchange.com. You will see the current open graph image a

[2020-05-11 22:23] globalmatt commented on #28
@hmajid2301 Yes, I reached the same conclusion when I researched this last month. We will need to do this server-side using Gatsby or similar I think.

[2020-05-12 12:57] kelvinlockwood commented on #122
I took a closer look at modal width and found two good examples...

[Atlassian](https://atlaskit.atlassian.com/packages/core/modal-dialog) - 600 pixels
[Tailwind](https://www.creative-tim.com/learning-lab/tailwind-starter-kit/documentation/react/modals/regular) - 768 pixels

<img width="1025" alt="Screen Shot 2020-05-11 at 17 54 00" src="https://user-images.githubusercontent.com/11790973/81692936-

[2020-05-13 00:05] irshadjsr21 commented on #122
Here's an update to the current checkout modal.
![Demo](https://user-images.githubusercontent.com/40335357/81757123-6450ff80-94db-11ea-86ef-600b1051454e.gif)

[2020-05-14 14:02] kelvinlockwood commented on #109
Arts & Photography
Biography & Memoir
Business & Money
Children's
Cooking, Food & Drink
Health, Fitness & Diet
History
Hobbies & Crafts
Homes
Humour & Entertainment
Mystery & Suspense
Poetry & Short Stories
Politics & Social Sciences
Romance
Science & Engineering
Sci-Fi & Fantasy
Self Development
Spirituality
Sports
Technology
Travel

[2020-05-15 10:57] inesantos29 commented on #122
I got some css bugs in the modal, you need to merge with your changes @irshadjsr21

[2020-05-15 14:55] irshadjsr21 commented on #122
@inesantos29 Can you elaborate on the bugs?

[2020-05-15 15:17] inesantos29 commented on #122
Of course @irshadjsr21 , I'll check everything.

[2020-05-17 07:25] rvpanchal10 commented on #109
@kelvinlockwood I have updated book genres in `planList.js`

Please check and let me know if any.

Thanks,
Ravi Panchal

[2020-05-17 07:27] rvpanchal10 commented on #110
@kelvinlockwood I have also updated same on `planList.js`

Please check & verify it.

Thanks,
Ravi Panchal

[2020-05-17 09:11] #109 closed

[2020-05-17 09:12] #110 closed

[2020-05-17 19:55] kelvinlockwood commented on #122
Our **Place Order** button will be positioned in the modal _footer_ - on the right hand side. You can find a footer example here > https://atlaskit.atlassian.com/packages/core/modal-dialog

The button should include a "loading" state so that the user receives feedback from their click action.

Some of the Ant Design examples include this behaviour > https://ant.design/components/modal/

https://ww

[2020-05-18 17:11] kelvinlockwood commented on #122
Outline for modal footer...

<img width="571" alt="Screen Shot 2020-05-18 at 17 46 34" src="https://user-images.githubusercontent.com/11790973/82240784-e6558400-9932-11ea-82be-50ecfc565658.png">

[2020-05-23 10:44] kelvinlockwood opened #128 "Modal field validation"

[2020-05-23 10:51] kelvinlockwood commented on #128
I've already discussed on slack how we should only perform validation on an individual field once the user leaves the field in which they’ve entered some details. So we don’t display an error message when someone clicks into and then leaves an empty field.

This is how we can handle fields that have been bypassed, in other words the user has filled out some fields within the accordion step but lef

[2020-05-27 10:25] irshadjsr21 opened #129 "Billsby checkout modal isn't working when addes via JS"
Billsby provides a script we have to include in our page after which we can create an anchor tag with the required data attributes which will in turn open the checkout modal on click.

This works fine when we include this anchor tag on the initial page, but it doesn't work when the anchor tag is added via JS which is needed for our implementation.

[2020-05-27 11:24] markh-billsby commented on #129
You can call window.scanDomBillsby(); at any time to reload Billsby. This'll search again for any anchor information that's been added.

[2020-05-27 11:26] markh-billsby commented on #129
​However, we're releasing a new feature in about 10 days time called the card tokenizer, that I think might be more appropriate for your designs. This is just an in-page iFrame that's only the credit card field and CVV field. You can use it to tokenize the card, and then pass that token to us through the API and create the subscription entirely in the API - with no need to use our front-end checko

[2020-05-30 10:04] globalmatt opened #130 "White boxes around combos should be removed"
Happens mainly on Safari macOS + iOS. Chrome sometimes too.

<img width="424" alt="image" src="https://user-images.githubusercontent.com/885411/83325590-a1293e80-a2b0-11ea-8413-236811beae09.png">

[2020-05-30 10:17] globalmatt opened #131 "Inconsistent button border radius"
(and background colour?)

<img width="498" alt="image" src="https://user-images.githubusercontent.com/885411/83325784-75a75380-a2b2-11ea-9e25-da0091a0d1e2.png">

<img width="485" alt="image" src="https://user-images.githubusercontent.com/885411/83325792-80fa7f00-a2b2-11ea-9dc0-dc32fb90a783.png">

[2020-05-30 10:19] globalmatt opened #132 "Genres are forgotten if modal is closed"
Steps to reproduce:

1. Select some genres in the modal
2. Close the modal with the 'X' button
3. Click Continue to reopen the modal
4. The genres are no longer selected, but the bottom Subscribe button still shows the total price.

[2020-05-30 10:22] globalmatt opened #133 "Inconsistent case used in labels"
The case used throughout the labels in the modal should be consistent. Sometimes it’s _Title Case_, sometimes _Sentence case_. Suggest sticking with sentence case since that’s used generally throughout the site.

[2020-05-30 10:23] globalmatt opened #134 "Scrollbar overlaps close button"
In the modal

<img width="810" alt="image" src="https://user-images.githubusercontent.com/885411/83325909-5c52d700-a2b3-11ea-93c6-bc1728aae111.png">

[2020-05-30 10:49] globalmatt opened #135 "Modal footer behaves erratically on small-screen devices"
https://imgur.com/epGcR5D

[2020-05-30 10:50] globalmatt opened #136 "The text in the modal footer on phone is too small"
The text in the modal footer on phone (once genres have been selected) is too small to read clearly.

<img width="354" alt="image" src="https://user-images.githubusercontent.com/885411/83326415-329baf00-a2b7-11ea-890d-3dd1ec782729.png">

[2020-05-30 16:44] rvpanchal10 commented on #134
@globalmatt @kelvinlockwood I have fixed issue in billsby branch , also latest code changes pushed over there.

Please check and verify, let me know if any.

Thanks,
Ravi

[2020-05-31 05:14] irshadjsr21 commented on #130
@globalmatt On which branch did you got this error? I remember fixing this on `billsby` branch.

[2020-05-31 15:40] kelvinlockwood commented on #128
Update with regards to this field validation issues...

Firstly we’re trying to depend on the native features of vaadin where at all possible.

However, the “no validation when leaving an empty field” suggestion I made above isn’t easy to achieve with vaadin, so a good compromise is to send the field a shade of red when someone leaves it empty. In other words no error message on display under the

[2020-05-31 23:36] globalmatt commented on #130
@irshadjsr21 http://cse.surge.sh/

[2020-06-01 06:29] irshadjsr21 commented on #130
I'm still not able to recreate it on chrome (on Linux) . Maybe someone who works on a Mac can resolve this.

[2020-06-01 06:31] hmajid2301 commented on #130
I will take a look at this. Perhaps using one of the tools @kelvinlockwood suggested. I also don't have access to Mac (POP OS/Linux only).

[2020-06-01 06:34] hmajid2301 opened #138 "Add various misc files"
Add files to Github to make it easier for contributors such as

- [ ] Pull Request Template
- [ ] Issue Template
- [ ] Contributing Guide
- [ ] Code of conduct

[2020-06-01 06:45] hmajid2301 opened #139 "Look at using Netlify workflow suggestions"
Look at changing workflow to improve development by making changes suggested by Netlify themselves. https://www.netlify.com/blog/2020/05/12/see-13-netlify-features-for-the-best-control-of-development-workflow/

[2020-06-01 13:22] kelvinlockwood opened #140 "Marketing consent checkbox"
A checkbox needs to be placed underneath email field in the same style as the 'Use same address for billing' checkbox, except this time its unselected by default.

The message next to the checkbox must say... Yes, email me about special offers and new product information

The email validation message must say... A valid email address is required for your subscription

The phone number field isn't

[2020-06-01 13:36] kelvinlockwood commented on #138
@hmajid2301 just came along an issue template here > https://github.com/ctrl-alt-del-world/midway/tree/master/.github/ISSUE_TEMPLATE

I'm sure there are many more out there!

[2020-06-01 13:41] kelvinlockwood commented on #131
Our button needs to be more like the Subscribe version although that version does look a little small in some cases / screen widths...

Generally the Subscribe version could be 10% bigger, and also wider so that theres more padding between the text and the edge of the button.

[2020-06-01 16:03] kelvinlockwood opened #141 "Subtitle for genre selection accordion step"
We need to add a subtitle in the following space...

<img width="354" alt="Screen Shot 2020-06-01 at 17 01 45" src="https://user-images.githubusercontent.com/11790973/83428101-b83f6c00-a429-11ea-978c-1947f9d23904.png">

£2 per item, receive up to eight items per delivery, start with a minimum of two.

[2020-06-01 16:11] kelvinlockwood opened #142 "Update radio buttons"
Change **Delivery frequency:** to **Each delivery costs £3.50**

Radio buttons to be laid out like this...

Deliver every: [ ] week  [ ] other week  [ ] month

Currently the button has a strange dot in the centre of it...
<img width="92" alt="Screen Shot 2020-06-01 at 16 54 47" src="https://user-images.githubusercontent.com/11790973/83428494-664b1600-a42a-11ea-996f-9750bee0f2ce.png">

Here's the v

[2020-06-01 17:32] kelvinlockwood commented on #142
week should be the default selection

[2020-06-01 17:55] kelvinlockwood opened #143 "Enable Billsby's self-service"
We did have a Log in button alongside the Share button but it is currently hidden.

That button will allow the user to access Billsby's self-service portal to manage their subscription so it needs to be in place when we can go live. The self-service portal gives the customer the chance to change their payment or order details.

The embed code is explained here > https://support.billsby.com/docs/ch

[2020-06-02 15:28] kelvinlockwood commented on #128
I think some of "logic" for this has already been put in place for the Payment section by @engjellselaci

[2020-06-02 15:41] rvpanchal10 commented on #128
I'm checking now @kelvinlockwood if there is something useful to me

[2020-06-02 17:16] rvpanchal10 commented on #140
@kelvinlockwood I have fixed above things that you mentioned, please check & verify it.

Let me know your feedback/query if any.

Thanks,
Ravi

[2020-06-02 17:17] rvpanchal10 commented on #128
@kelvinlockwood I have fixed above things that you mentioned, please check & verify it.

Let me know your feedback/query if any.

Thanks,
Ravi

[2020-06-02 21:58] kelvinlockwood opened #144 "Autofill"

[2020-06-03 08:11] #132 closed

[2020-06-07 20:35] kelvinlockwood commented on #139
PR preview etc

[2020-06-08 22:38] hmajid2301 opened #149 "Clean Up Old Branches"
Clean up all old stale and unused branches in the project. Help to keep it as clean as possible.

[2020-06-09 20:18] hmajid2301 commented on #139
- Created `develop` branch
- Tested PR previews

So PR previews were always turned and able to be used by Netlify. You can view them within any PR for the project.

There is now a new staging environment on Netlify which deploys whatever is on the `develop` branch. So the workflow will now be:

[code]

Where develop is the staging env: `develop.charityshopexchange.com`
and master is prod env: `cha

[2020-06-09 20:18] #139 closed

[2020-06-11 15:51] kelvinlockwood opened #151 "SEO considerations"
1. We need to make sure that we don't have any old versions of the site being hosted elsewhere.

2. We should "noindex" our develop subdomain.

3. From what I understand all of our regional subdomains should have a canonical tag to help search engine bots identify https://charityshopexchange.com as the page that should be ranking.

https://ahrefs.com/blog/canonical-tags/

4.  Netlify and Gatsby bo

[2020-06-11 22:11] kelvinlockwood commented on #151
Updated meta tags for social media...

[code]

Updated tags for search...

[code]

[2020-06-11 22:27] kelvinlockwood opened #152 "Schema markup"
https://moz.com/learn/seo/schema-structured-data

Looks like **logo** and **faq** would be straight forward additions...

https://developers.google.com/search/docs/data-types/logo
https://developers.google.com/search/docs/data-types/faqpage

[2020-06-11 22:28] kelvinlockwood commented on #152
better to tackle this once @hmajid2301 has integrated gatsby

[2020-06-12 08:58] kelvinlockwood commented on #151
I added the new OG tags and tested it on twitter @engjellselaci

<img width="1136" alt="Screenshot 2020-06-12 at 09 57 17" src="https://user-images.githubusercontent.com/11790973/84484797-2a6a4900-ac93-11ea-8186-9f640ec2a3ec.png">

[2020-06-12 12:54] hmajid2301 commented on #151
So PR previews by default are not indexed as per this [article](https://community.netlify.com/t/disabling-x-robots-tag-header-on-hosted-site/8857/2).

For branch deploys i.e. `develop` we need to follow, [this process](https://www.netlify.com/blog/2017/04/07/selective-password-protection/). So my solution is to create a file called `extra/_headers.dev`.

[code]

and then a `netlify.toml` file like

[2020-06-13 20:21] kelvinlockwood commented on #151
Some interesting stuff here > https://css-tricks.com/its-all-in-the-head-managing-the-document-head-of-a-react-powered-site-with-react-helmet/

@hmajid2301 not sure if its directly helpful

[2020-06-16 20:51] kelvinlockwood commented on #100
I'm sure @Prouty89 got this to the stage where the button changed to **Thank you!** but I've just tested again and there is no success message...

[2020-06-18 10:23] kelvinlockwood commented on #151
@hmajid2301 with regards to the subdomain strategy am I right in saying that its only the regional homepages that will exist... so for example we won't have a dorset.charityshopexchange.com/about

[2020-06-18 10:24] hmajid2301 commented on #151
no it's the whole site that is aliased. It's serving the same content just netlify will allow those subdomains we defined i.e. dorset to also access it.

[2020-06-18 10:39] kelvinlockwood commented on #151
are there any pros and cons?

Each of the homepages will need this...
`<link rel="canonical" href="https://charityshopexchange.com" />`

and if we need the whole site the internal about pages will need...
`<link rel="canonical" href="https://charityshopexchange.com/about" />`

etc, etc

https://github.com/NickCis/gatsby-plugin-react-helmet-canonical-urls

[2020-06-18 10:47] hmajid2301 commented on #151
not sure about cons, but can add the canonical stuff.

[2020-06-18 10:52] kelvinlockwood commented on #151
Thanks!

Just to be clear, every page including the canonical ones should include the link > https://moz.com/learn/seo/canonicalization

[2020-06-18 11:38] kelvinlockwood commented on #151
I've done some more reading on sitemaps and there's no real sense for each subdomain to include one.

So we'll just have one for charityshopexchange.com that includes our internal pages... about, register and faq

We should leave out the terms, customer-terms and privacy pages, to signal to the search engines that these are low interest pages.

[2020-06-18 11:56] kelvinlockwood commented on #151
Google also recommends this...

<img width="638" alt="Screenshot 2020-06-18 at 12 54 26" src="https://user-images.githubusercontent.com/11790973/85017267-1b880880-b163-11ea-9500-a40e35f5bf4b.png">

[2020-06-18 22:26] kelvinlockwood commented on #151
Gone a bit further down the rabbit hole!

Bing makes use of this tag... <meta name="geo.region" content="GB" />

[2020-06-20 18:32] hmajid2301 commented on #151
This can be done using gatsby robots plugin instead to simplify the logic.

[2020-06-23 13:42] kelvinlockwood commented on #151
@hmajid2301 could you check off the things we've tackled...

- [ ] old versions of site taken down
- [ ] canonical tags on host domain and subdomains
- [ ] geo.region meta tag
- [ ] sitemap to include about, faq and register pages and listed in robots.txt
- [ ] noindex staging site

Is there anything else we need? https://htmlhead.dev/

[2020-06-25 15:02] kelvinlockwood commented on #100
As well as the success message, we can also have some very basic validation that ensures a valid email address is submitted.

[2020-07-01 09:19] kelvinlockwood commented on #100
https://dev.to/travislramos/how-to-use-netlify-forms-with-gatsby-4c52

[2020-07-12 16:13] kelvinlockwood commented on #130
This is still an issue on safari browsers

[2020-07-21 13:28] #151 closed

[2020-07-23 11:02] engjellselaci opened #162 "Credit Card Tokenizer Issue"
Library used to create the UI: React, Gatsby

The library that we are importing from billsby to create tokenizers is not working for some reason. They do not have github nor npm or any kind of forum that people talk about it.
This is the error im getting:
![image](https://user-images.githubusercontent.com/47112077/88279489-d3717e00-ccec-11ea-933e-3969c13662ff.png)

Let me know if I should explain

[2020-07-23 19:55] engjellselaci commented on #162
Here's where I'm trying to tokenize my credit card details:
`import React, { useState, useEffect, useCallback } from 'react';
import ModalButton from './ModalButton';
import Logo from '../../../assets/img/cse_logo.png';
import billsbyConfig from '../../../import/billsby';

export default function Footer(props) {
  const { formData, handleChange } = props;
  let [newClass, setClassName] = useState(

[2020-07-29 12:17] kelvinlockwood commented on #162
slack thread here... https://charityshopexchange.slack.com/archives/C0106LUBN7K/p1595441543008800

[2020-07-30 18:06] engjellselaci commented on #162
I have initialized the billsby library , but the problem still shows on devtools. This is the code i am using:

`  useEffect(() => {

    try {
      window.billsbyTokens.init("billsby-number", "billsby-cvv");
    } catch (err) {
      console.error(err);
    }
    window.billsbyTokens.on('ready', function () {
      setIsReady(true);
    });
    window.billsbyTokens.on("paymentMethod", function (

[2020-07-30 19:27] hmajid2301 commented on #162
let's try to initialize it with actual values like instead of `billsby-number` use the actual div.

[2020-07-31 16:35] kelvinlockwood commented on #162
_Message from Alex at Billsby:_

Hello guys,

I checked the snippet on github, it's not the full code so i can just guess what is the actual issue, make sure that:

- "billsby-number" and "billsby-cvv" arguments passed to the billsbyTokens.init function are the actual ID's of the two html elements in the DOM.

- debug the code and make sure that the call billsbyTokens.tokenizeCard triggers after y

[2020-08-03 15:12] sajjadatma commented on #162
hay guys, i I checked the your codes on github and I think this should not be all your codes.
when you add billsby on your project (as stated in the document) billsby will create a iframe tag for tokenizers and this iframe tag is your issue.
for the first step :
bringing out this 2 line from useEffect,
`     window.billsbyTokens.on('ready', function() {
        setIsReady(true);`
and
step 2:
check

[2020-08-03 20:05] #138 closed

[2020-08-03 21:10] engjellselaci commented on #162
[code]

I am initializing billsby after mounting the component, but im still getting the error.
Feel free to jump in the code and let me know what im doing wrong.

[2020-08-04 02:08] sajjadatma commented on #162
![88279489-d3717e00-ccec-11ea-933e-3969c13662ff](https://user-images.githubusercontent.com/25636184/89244619-2ec03c00-d61c-11ea-9dea-5c0fd3425f56.png)

See this image.
Usually Js files initializing before body. So as you see in this image Iframe-vm.min.js initializing as first js file , even before bootatrap. I think i frame should be initiated after body.
I think if you use onload() on script tag

[2020-08-10 20:00] hmajid2301 commented on #162
I've solved the above issue it was indeed related to id's not being present. I have encountered another issue after sending the tokenizer request:

`Object { key: "errors.invalid", message: "Credit card number entered is not valid", attribute: "number" }`

I wanted to ask what format does it expect the card number and cvv to be in? Currently they are text inputs. I noticed in the example you are u

[2020-10-16 11:31] #118 closed

[2020-10-16 11:40] kelvinlockwood opened #168 "Items received record / no duplicate items"
How do we ensure that a customer never receives a second copy of the same item?

We'll need to know what a customer has previously received... if we keep a list of items received it could work like a "blocklist" to ensure that the person who curates the order never sends something that is already on the list.

We could extend this so that customers can be directed to an online form where they ente

[2020-10-16 11:49] kelvinlockwood commented on #168
How should a customer access this "I-own" profile page?

Perhaps a private url? With the customer receiving the link by email?

[2020-10-16 11:58] kelvinlockwood opened #169 "Dashboard for charity shops"
Each charity that commits to fulfilling orders should have a dedicated dashboard view of their own orders.

I'm imagining two main views...

The first should be similar to a support ticketing system.

The second will be a performance dashboard and include a leaderboard element so that each charity can see how they are performing against their peers. Charity names should be anonymised.

[2020-10-16 13:35] kelvinlockwood commented on #114
https://github.com/helpyio/helpy
https://github.com/uvdesk/community-skeleton
https://github.com/zammad/zammad
https://github.com/freescout-helpdesk/freescout
https://github.com/ladybirdweb/faveo-helpdesk

[2020-10-22 12:08] kelvinlockwood commented on #152
https://search.google.com/test/rich-results

[2020-10-22 12:09] #141 closed

[2020-10-22 13:45] kelvinlockwood commented on #114
https://www.appsmith.com/
https://retool.com/
https://canonic.dev/
https://railway.app/
https://www.budibase.com/

[2020-10-23 13:38] kelvinlockwood commented on #169
Do we need to go down this path?
https://blog.postman.com/serverless-functions-the-fast-way/

[2020-10-24 15:14] #133 closed

[2020-10-24 15:30] #143 closed

[2020-10-24 15:31] #162 closed

[2020-10-24 15:35] kelvinlockwood commented on #130
this is still occurring on safari...

<img width="359" alt="Screenshot 2020-10-19 at 10 34 58" src="https://user-images.githubusercontent.com/11790973/97085678-dbf09200-1616-11eb-8497-66563c3d6400.png">
<img width="717" alt="Screenshot 2020-10-19 at 10 35 12" src="https://user-images.githubusercontent.com/11790973/97085679-dd21bf00-1616-11eb-8bc3-cc88a9bcb6a9.png">

[2020-10-24 15:37] kelvinlockwood opened #174 "Gmail style tabs"
Style our Book and DVD tabs similar to tabs in Gmail

[2020-10-24 15:43] kelvinlockwood commented on #152
I'm not sure if the "how to" schema is a good fit for us, need to learn a bit more about them first.

With regards to schema for FAQs we should use it for the first five FAQs that we have listed on our FAQ page @uzairbangee

[2020-10-24 15:46] kelvinlockwood commented on #144
Could you double check that this is working correctly in the relevant fields... it feels like it works in some of our fields but not all... @uzairbangee

[2020-10-28 12:15] kelvinlockwood commented on #128
<img width="554" alt="Screenshot 2020-10-28 at 12 14 33" src="https://user-images.githubusercontent.com/11790973/97434600-26278b00-1917-11eb-8995-0a14ad21c7e7.png">

This validation can just say...

Please enter first name
Please enter last name

[2020-10-28 12:18] kelvinlockwood commented on #140
We need to find a way to record the marketing consent response because its not stored in the Billsby dashboard

[2020-10-28 12:37] kelvinlockwood opened #175 "Field lock"
This remains an issue that crops up from time to time when entering details...

<img width="362" alt="Screenshot 2020-10-28 at 12 06 55" src="https://user-images.githubusercontent.com/11790973/97436537-12c9ef00-191a-11eb-840e-c485e6fbb153.png">

It might get resolved if we update our Vaadin component dependencies to the latest version... https://vaadin.com/components/vaadin-text-field

[2020-10-28 12:40] kelvinlockwood commented on #144
These issues are closely related #175 #128

[2020-10-30 09:42] kelvinlockwood opened #176 "Pending payment status"
We know when customers renewal dates are so we don't have to wait until the moment when the payment is taken and invoice generated to send advance notification of an order...

48 hours before the renewal we can create / send an order that is in 'Payment pending' status

[2020-10-30 10:17] kelvinlockwood commented on #169
Orders can be moved through four different statuses...

1. Pending payment
2. Awaiting shipment
3. Label generated
4. Shipped

Examples here:
https://help.postmen.com/hc/en-us/articles/360050479994-Learn-about-Postmen-Orders-list
https://help.postmen.com/hc/en-us/articles/360055960774-Search-orders-easily-in-Postmen-admin

[2020-11-01 11:20] kelvinlockwood opened #177 "Payment failed"
We need to provide feedback to the user when they've clicked on Subscribe and then the payment fails...

Can we fit 'Your payment failed' in the button?

Unfortunately, we couldn’t collect payment.
Please review your billing information and try again.

[2020-11-01 17:48] kelvinlockwood commented on #169
Orders that land in **Received** could have a 'new customer' tag when the order is the very first order (invoice) of the subscription.